UoCPOChgMapping/UoCPOChgMapping/UCSDIPO/UCSDIPOService.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ibm.com/maximo" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.ibm.com/maximo">
 <!--
================== Supporting Data Types ===========
-->
<xsd:simpleType name="ProcessingActionType">
<xsd:annotation>
<xsd:documentation>
Enumerated List of Processing Actions supported by Maximo Services
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Add"/>
<xsd:enumeration value="Change"/>
<xsd:enumeration value="Replace"/>
<xsd:enumeration value="Delete"/>
<xsd:enumeration value="AddChange"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="OperandModeType">
<xsd:annotation>
<xsd:documentation>
Enumerated List of operand modes supported by Maximo Query
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="OR"/>
<xsd:enumeration value="AND"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="MboRelationshipType">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
<xsd:simpleType name="EventType">
<xsd:annotation>
<xsd:documentation>
Boolean flag identifying if a published MOS was the result of an event. 1 implies event
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:boolean">
<xsd:pattern value="0|1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ChangeIndicatorType">
<xsd:annotation>
<xsd:documentation>
Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:boolean">
<xsd:pattern value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="QueryOperatorType">
<xsd:annotation>
<xsd:documentation>
Operator identifying the QBE action to be performed on the field it is associated with
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="="/>
<xsd:enumeration value="!="/>
<xsd:enumeration value="<"/>
<xsd:enumeration value="<="/>
<xsd:enumeration value=">"/>
<xsd:enumeration value=">="/>
<xsd:enumeration value="EW"/>
<xsd:enumeration value="SW"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BooleanType">
<xsd:restriction base="xsd:boolean">
<xsd:pattern value="0|1"/>
</xsd:restriction>
</xsd:simpleType>
 <!--
================== Content Data Types ==============
-->
<xsd:simpleType name="MaximoVersionType">
<xsd:annotation>
<xsd:documentation>
This is a concatenated string that identifies the major version, minor version, build and dbbuild
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
<xsd:complexType name="MXStringType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXLangStringType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
<xsd:attribute name="languageEnabled" type="xsd:boolean" use="optional" fixed="1"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDoubleType">
<xsd:simpleContent>
<xsd:extension base="xsd:double">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXFloatType">
<xsd:simpleContent>
<xsd:extension base="xsd:float">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXLongType">
<xsd:simpleContent>
<xsd:extension base="xsd:long">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXIntType">
<xsd:simpleContent>
<xsd:extension base="xsd:int">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXBooleanType">
<xsd:simpleContent>
<xsd:extension base="BooleanType">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDateTimeType">
<xsd:simpleContent>
<xsd:extension base="xsd:dateTime">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXBinaryType">
<xsd:simpleContent>
<xsd:extension base="xsd:base64Binary">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXCryptoType">
<xsd:simpleContent>
<xsd:extension base="xsd:base64Binary">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
<xsd:attribute name="mxencrypted" type="BooleanType" use="optional" default="1"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLComponentType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="glorder" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:int">
<xsd:minInclusive value="0"/>
<xsd:maxExclusive value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLAccountType">
<xsd:sequence>
<xsd:element name="VALUE" type="xsd:string" minOccurs="0"/>
<xsd:element name="GLCOMP" type="MXGLComponentType" minOccurs="0" maxOccurs="20"/>
</xsd:sequence>
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:complexType>
<xsd:complexType name="MXDomainType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="maxvalue" type="xsd:string" use="optional"/>
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
 <!-- ================== Query Data Types ============== -->
<xsd:complexType name="MXStringQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDoubleQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:double">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXFloatQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:float">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXLongQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXIntQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:int">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXBooleanQueryType">
<xsd:simpleContent>
<xsd:extension base="BooleanType">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDateTimeQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:dateTime">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLComponentQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="glorder" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:int">
<xsd:minInclusive value="0"/>
<xsd:maxExclusive value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLAccountQueryType">
<xsd:sequence>
<xsd:element name="VALUE" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:complexType>
<xsd:complexType name="MXDomainQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="maxvalue" type="xsd:string" use="optional"/>
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
 <!--
=================Attribute Groups =================
-->
<xsd:attributeGroup name="ObjectStructurePropertyGroup">
<xsd:attribute name="action" type="ProcessingActionType" use="optional"/>
<xsd:attribute name="relationship" type="xsd:string" use="optional"/>
<xsd:attribute name="deleteForInsert" type="xsd:string" use="optional"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="CommonContentGroup">
<xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional"/>
<xsd:attribute name="baseLanguage" type="xsd:string" use="optional"/>
<xsd:attribute name="transLanguage" type="xsd:string" use="optional"/>
<xsd:attribute name="messageID" type="xsd:string" use="optional"/>
<xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="PublishingContentGroup">
<xsd:attribute name="event" type="EventType" use="optional" default="0"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="QueryContentGroup">
<xsd:attribute name="uniqueResult" type="BooleanType" use="optional" default="0"/>
<xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional"/>
<xsd:attribute name="rsStart" type="xsd:integer" use="optional" default="0"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="QueryClausePropertyGroup">
<xsd:attribute name="orderby" type="xsd:string" use="optional"/>
<xsd:attribute name="operandMode" type="OperandModeType" use="optional" default="AND"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="ResponseContentGroup">
<xsd:attribute name="rsStart" type="xsd:integer" use="optional"/>
<xsd:attribute name="rsCount" type="xsd:integer" use="optional"/>
<xsd:attribute name="rsTotal" type="xsd:integer" use="optional"/>
</xsd:attributeGroup>
<xsd:complexType name="UCSDIPO_POType">
<xsd:sequence>
<xsd:element name="MAXINTERRORMSG" type="xsd:string" minOccurs="0"/>
<xsd:element name="PONUM" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="REVISIONNUM" type="MXLongType" nillable="true" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SITEID" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UC_NOPACKSLIP" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="VENDELIVERYDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="POLINE" type="UCSDIPO_POLINEType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attributeGroup ref="ObjectStructurePropertyGroup"/>
<xsd:attribute name="transLanguage" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="UCSDIPO_POLINEType">
<xsd:sequence>
<xsd:element name="POLINENUM" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="VENDELIVERYDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
</xsd:sequence>
<xsd:attributeGroup ref="ObjectStructurePropertyGroup"/>
</xsd:complexType>
<xsd:complexType name="UCSDIPOType">
<xsd:sequence>
<xsd:element name="PO" type="UCSDIPO_POType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UCSDIPOSetType">
<xsd:sequence>
<xsd:element name="PO" type="UCSDIPO_POType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UCSDIPOQueryType">
<xsd:sequence>
<xsd:element name="WHERE" type="xsd:string" minOccurs="0"/>
<xsd:element name="PO" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="REVISIONNUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UC_NOPACKSLIP" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="VENDELIVERYDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="POLINE" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="POLINENUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="VENDELIVERYDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="filter" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attributeGroup ref="QueryClausePropertyGroup"/>
</xsd:complexType>
<xsd:complexType name="UCSDIPOCombinedKeySetType">
<xsd:sequence>
<xsd:element name="PO" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="SITEID" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="PONUM" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="REVISIONNUM" type="MXLongType" nillable="true">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="POID" type="MXLongType" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UCSDIPO" type="UCSDIPOType"/>
<xsd:element name="UCSDIPOSet" type="UCSDIPOSetType"/>
<xsd:element name="UCSDIPOQuery" type="UCSDIPOQueryType"/>
<xsd:complexType name="POKeyType">
<xsd:sequence>
<xsd:element name="SITEID" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="PONUM" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="REVISIONNUM" type="MXLongType" nillable="true">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="POObjectType">
<xsd:sequence>
<xsd:element name="PONUM" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DESCRIPTION" type="MXStringType" minOccurs="0"/>
<xsd:element name="PURCHASEAGENT" type="MXStringType" minOccurs="0"/>
<xsd:element name="ORDERDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="REQUIREDDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="FOLLOWUPDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="POTYPE" type="MXStringType" minOccurs="0"/>
<xsd:element name="ORIGINALPONUM" type="MXStringType" minOccurs="0"/>
<xsd:element name="STATUS" type="MXDomainType" minOccurs="0"/>
<xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="VENDOR" type="MXStringType" minOccurs="0"/>
<xsd:element name="CONTACT" type="MXStringType" minOccurs="0"/>
<xsd:element name="FREIGHTTERMS" type="MXStringType" minOccurs="0"/>
<xsd:element name="PAYMENTTERMS" type="MXStringType" minOccurs="0"/>
<xsd:element name="SHIPVIA" type="MXStringType" minOccurs="0"/>
<xsd:element name="CUSTOMERNUM" type="MXStringType" minOccurs="0"/>
<xsd:element name="FOB" type="MXStringType" minOccurs="0"/>
<xsd:element name="SHIPTO" type="MXStringType" minOccurs="0"/>
<xsd:element name="SHIPTOATTN" type="MXStringType" minOccurs="0"/>
<xsd:element name="BILLTO" type="MXStringType" minOccurs="0"/>
<xsd:element name="BILLTOATTN" type="MXStringType" minOccurs="0"/>
<xsd:element name="TOTALCOST" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="CHANGEBY" type="MXStringType" minOccurs="0"/>
<xsd:element name="CHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="PRIORITY" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="HISTORYFLAG" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="PO1" type="MXStringType" minOccurs="0"/>
<xsd:element name="PO2" type="MXStringType" minOccurs="0"/>
<xsd:element name="PO3" type="MXStringType" minOccurs="0"/>
<xsd:element name="PO4" type="MXStringType" minOccurs="0"/>
<xsd:element name="PO5" type="MXStringType" minOccurs="0"/>
<xsd:element name="PO6" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="PO7" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="PO8" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="PO9" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="PO10" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="VENDELIVERYDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="RECEIPTS" type="MXDomainType" minOccurs="0"/>
<xsd:element name="CURRENCYCODE" type="MXStringType" minOccurs="0"/>
<xsd:element name="EXCHANGERATE" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="EXCHANGEDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="BUYAHEAD" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="TOTALTAX1" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="TOTALTAX2" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="TOTALTAX3" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="INCLUSIVE1" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="INCLUSIVE2" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="INCLUSIVE3" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="INTERNAL" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="TOTALTAX4" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="TOTALTAX5" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="INCLUSIVE4" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="INCLUSIVE5" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="STARTDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="ENDDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="PAYONRECEIPT" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="BUYERCOMPANY" type="MXStringType" minOccurs="0"/>
<xsd:element name="EXCHANGERATE2" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="MNETSENT" type="MXDomainType" minOccurs="0"/>
<xsd:element name="ECOMSTATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="SOURCESYSID" type="MXStringType" minOccurs="0"/>
<xsd:element name="OWNERSYSID" type="MXStringType" minOccurs="0"/>
<xsd:element name="EXTERNALREFID" type="MXStringType" minOccurs="0"/>
<xsd:element name="SENDERSYSID" type="MXStringType" minOccurs="0"/>
<xsd:element name="SITEID" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORGID" type="MXStringType" minOccurs="0"/>
<xsd:element name="CONTRACTREFNUM" type="MXStringType" minOccurs="0"/>
<xsd:element name="POID" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="CONTRACTREFID" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="CONTRACTREFREV" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="CONTRELEASESEQ" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="STORELOC" type="MXStringType" minOccurs="0"/>
<xsd:element name="STORELOCSITEID" type="MXStringType" minOccurs="0"/>
<xsd:element name="INSPECTIONREQUIRED" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="LANGCODE" type="MXStringType" minOccurs="0"/>
<xsd:element name="HASLD" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="UC_NOPACKSLIP" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="REVISIONNUM" type="MXLongType" nillable="true" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="REVCOMMENTS" type="MXStringType" minOccurs="0"/>
<xsd:element name="INTERNALCHANGE" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="IGNORECNTREV" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="PERSONGROUP" type="MXStringType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="action" type="ProcessingActionType" use="optional"/>
</xsd:complexType>
<xsd:complexType name="POMboKeyType">
<xsd:sequence>
<xsd:element name="PO" type="POKeyType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="POMboKeySetType">
<xsd:sequence>
<xsd:element name="PO" type="POKeyType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="POMboSetType">
<xsd:sequence>
<xsd:element name="PO" type="POObjectType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="POMboType">
<xsd:sequence>
<xsd:element name="PO" type="POObjectType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="POMboQueryType">
<xsd:sequence>
<xsd:element name="WHERE" type="xsd:string" minOccurs="0"/>
<xsd:element name="PO" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="PONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DESCRIPTION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PURCHASEAGENT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORDERDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="REQUIREDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FOLLOWUPDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="POTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORIGINALPONUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STATUS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="VENDOR" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONTACT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FREIGHTTERMS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PAYMENTTERMS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SHIPVIA" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CUSTOMERNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FOB" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SHIPTO" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SHIPTOATTN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BILLTO" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BILLTOATTN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="TOTALCOST" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CHANGEBY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PRIORITY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="HISTORYFLAG" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO1" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO2" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO3" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO4" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO5" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO6" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO7" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO8" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO9" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PO10" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="VENDELIVERYDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="RECEIPTS" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CURRENCYCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="EXCHANGERATE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="EXCHANGEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BUYAHEAD" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="TOTALTAX1" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="TOTALTAX2" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="TOTALTAX3" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INCLUSIVE1" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INCLUSIVE2" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INCLUSIVE3" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INTERNAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="TOTALTAX4" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="TOTALTAX5" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INCLUSIVE4" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INCLUSIVE5" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STARTDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ENDDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PAYONRECEIPT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BUYERCOMPANY" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="EXCHANGERATE2" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="MNETSENT" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ECOMSTATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SOURCESYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="OWNERSYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="EXTERNALREFID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SENDERSYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONTRACTREFNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="POID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONTRACTREFID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONTRACTREFREV" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONTRELEASESEQ" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STORELOC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STORELOCSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INSPECTIONREQUIRED" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="LANGCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="HASLD" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="UC_NOPACKSLIP" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="REVISIONNUM" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="REVCOMMENTS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INTERNALCHANGE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="IGNORECNTREV" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="PERSONGROUP" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attributeGroup ref="QueryClausePropertyGroup"/>
</xsd:complexType>
<xsd:element name="POMbo" type="POMboType"/>
<xsd:element name="POMboSet" type="POMboSetType"/>
<xsd:element name="POMboKey" type="POMboKeyType"/>
<xsd:element name="POMboKeySet" type="POMboKeySetType"/>
<xsd:element name="POMboQuery" type="POMboQueryType"/>
<xsd:complexType name="CreateUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="InvokeUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="QueryUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOQuery"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
<xsd:attributeGroup ref="QueryContentGroup"/>
</xsd:complexType>
<xsd:complexType name="SyncUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="PublishUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
<xsd:attributeGroup ref="PublishingContentGroup"/>
</xsd:complexType>
<xsd:complexType name="UpdateUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="DeleteUCSDIPOType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="InvokeUCSDIPOResponseType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="CreateUCSDIPOResponseType">
<xsd:sequence>
<xsd:element ref="POMboKeySet" minOccurs="0"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="QueryUCSDIPOResponseType">
<xsd:sequence>
<xsd:element ref="UCSDIPOSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
<xsd:attributeGroup ref="ResponseContentGroup"/>
</xsd:complexType>
<xsd:complexType name="SyncUCSDIPOResponseType">
<xsd:sequence/>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="DeleteUCSDIPOResponseType">
<xsd:sequence/>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="UpdateUCSDIPOResponseType">
<xsd:sequence/>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:element name="UpdateUCSDIPO" type="UpdateUCSDIPOType"/>
<xsd:element name="QueryUCSDIPO" type="QueryUCSDIPOType"/>
<xsd:element name="CreateUCSDIPO" type="CreateUCSDIPOType"/>
<xsd:element name="SyncUCSDIPO" type="SyncUCSDIPOType"/>
<xsd:element name="DeleteUCSDIPO" type="DeleteUCSDIPOType"/>
<xsd:element name="PublishUCSDIPO" type="PublishUCSDIPOType"/>
<xsd:element name="InvokeUCSDIPO" type="InvokeUCSDIPOType"/>
<xsd:element name="InvokeUCSDIPOResponse" type="InvokeUCSDIPOResponseType"/>
<xsd:element name="QueryUCSDIPOResponse" type="QueryUCSDIPOResponseType"/>
<xsd:element name="CreateUCSDIPOResponse" type="CreateUCSDIPOResponseType"/>
<xsd:element name="SyncUCSDIPOResponse" type="SyncUCSDIPOResponseType"/>
<xsd:element name="UpdateUCSDIPOResponse" type="UpdateUCSDIPOResponseType"/>
<xsd:element name="DeleteUCSDIPOResponse" type="DeleteUCSDIPOResponseType"/>
</xsd:schema>