EmailToTicket/EmailToTicket/EmailToTicket/EmailOpsStaff/EmailOpsStaff/EmailOpsStaff/Web References/AttachmentsHelpDesk/helpdeskTicketFileUploader.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.sdi.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.sdi.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sdi.com/">
      <s:element name="uploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fnameSourceFullPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="soapAuthenticationHeader" type="tns:soapAuthenticationHeader" />
      <s:complexType name="soapAuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="soapKeyHeader" type="tns:soapKeyHeader" />
      <s:complexType name="soapKeyHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="loginKey" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="uploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="uploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="uploadFilesoapAuthenticationHeader">
    <wsdl:part name="soapAuthenticationHeader" element="tns:soapAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="uploadFilesoapKeyHeader">
    <wsdl:part name="soapKeyHeader" element="tns:soapKeyHeader" />
  </wsdl:message>
  <wsdl:portType name="helpDeskTicketFileUploaderSoap">
    <wsdl:operation name="uploadFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">upload/save the specified file on the server and return the URL for the uploaded file.</wsdl:documentation>
      <wsdl:input message="tns:uploadFileSoapIn" />
      <wsdl:output message="tns:uploadFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="helpDeskTicketFileUploaderSoap" type="tns:helpDeskTicketFileUploaderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="http://www.sdi.com/uploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:uploadFilesoapAuthenticationHeader" part="soapAuthenticationHeader" use="literal" />
        <soap:header message="tns:uploadFilesoapKeyHeader" part="soapKeyHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="helpDeskTicketFileUploaderSoap12" type="tns:helpDeskTicketFileUploaderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="uploadFile">
      <soap12:operation soapAction="http://www.sdi.com/uploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:uploadFilesoapAuthenticationHeader" part="soapAuthenticationHeader" use="literal" />
        <soap12:header message="tns:uploadFilesoapKeyHeader" part="soapKeyHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="helpDeskTicketFileUploader">
    <wsdl:port name="helpDeskTicketFileUploaderSoap" binding="tns:helpDeskTicketFileUploaderSoap">
      <soap:address location="http://sdixbatch:8084/sdi.webUtility/helpdeskTicketFileUploader.asmx" />
    </wsdl:port>
    <wsdl:port name="helpDeskTicketFileUploaderSoap12" binding="tns:helpDeskTicketFileUploaderSoap12">
      <soap12:address location="http://sdixbatch:8084/sdi.webUtility/helpdeskTicketFileUploader.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>