UoCMinMaxMapping/UCSDINVENTORY/UCSDIIVENTORYService.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ibm.com/maximo" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.ibm.com/maximo">
 <!--
================== Supporting Data Types ===========
-->
<xsd:simpleType name="ProcessingActionType">
<xsd:annotation>
<xsd:documentation>
Enumerated List of Processing Actions supported by Maximo Services
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Add"/>
<xsd:enumeration value="Change"/>
<xsd:enumeration value="Replace"/>
<xsd:enumeration value="Delete"/>
<xsd:enumeration value="AddChange"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="OperandModeType">
<xsd:annotation>
<xsd:documentation>
Enumerated List of operand modes supported by Maximo Query
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="OR"/>
<xsd:enumeration value="AND"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="MboRelationshipType">
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
<xsd:simpleType name="EventType">
<xsd:annotation>
<xsd:documentation>
Boolean flag identifying if a published MOS was the result of an event. 1 implies event
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:boolean">
<xsd:pattern value="0|1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ChangeIndicatorType">
<xsd:annotation>
<xsd:documentation>
Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:boolean">
<xsd:pattern value="1"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="QueryOperatorType">
<xsd:annotation>
<xsd:documentation>
Operator identifying the QBE action to be performed on the field it is associated with
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="="/>
<xsd:enumeration value="!="/>
<xsd:enumeration value="<"/>
<xsd:enumeration value="<="/>
<xsd:enumeration value=">"/>
<xsd:enumeration value=">="/>
<xsd:enumeration value="EW"/>
<xsd:enumeration value="SW"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="BooleanType">
<xsd:restriction base="xsd:boolean">
<xsd:pattern value="0|1"/>
</xsd:restriction>
</xsd:simpleType>
 <!--
================== Content Data Types ==============
-->
<xsd:simpleType name="MaximoVersionType">
<xsd:annotation>
<xsd:documentation>
This is a concatenated string that identifies the major version, minor version, build and dbbuild
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string"/>
</xsd:simpleType>
<xsd:complexType name="MXStringType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXLangStringType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
<xsd:attribute name="languageEnabled" type="xsd:boolean" use="optional" fixed="1"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDoubleType">
<xsd:simpleContent>
<xsd:extension base="xsd:double">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXFloatType">
<xsd:simpleContent>
<xsd:extension base="xsd:float">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXLongType">
<xsd:simpleContent>
<xsd:extension base="xsd:long">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXIntType">
<xsd:simpleContent>
<xsd:extension base="xsd:int">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXBooleanType">
<xsd:simpleContent>
<xsd:extension base="BooleanType">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDateTimeType">
<xsd:simpleContent>
<xsd:extension base="xsd:dateTime">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXBinaryType">
<xsd:simpleContent>
<xsd:extension base="xsd:base64Binary">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXCryptoType">
<xsd:simpleContent>
<xsd:extension base="xsd:base64Binary">
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
<xsd:attribute name="mxencrypted" type="BooleanType" use="optional" default="1"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLComponentType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="glorder" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:int">
<xsd:minInclusive value="0"/>
<xsd:maxExclusive value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLAccountType">
<xsd:sequence>
<xsd:element name="VALUE" type="xsd:string" minOccurs="0"/>
<xsd:element name="GLCOMP" type="MXGLComponentType" minOccurs="0" maxOccurs="20"/>
</xsd:sequence>
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:complexType>
<xsd:complexType name="MXDomainType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="maxvalue" type="xsd:string" use="optional"/>
<xsd:attribute name="changed" type="ChangeIndicatorType" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
 <!-- ================== Query Data Types ============== -->
<xsd:complexType name="MXStringQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDoubleQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:double">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXFloatQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:float">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXLongQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXIntQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:int">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXBooleanQueryType">
<xsd:simpleContent>
<xsd:extension base="BooleanType">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXDateTimeQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:dateTime">
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLComponentQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="glorder" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:int">
<xsd:minInclusive value="0"/>
<xsd:maxExclusive value="20"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="MXGLAccountQueryType">
<xsd:sequence>
<xsd:element name="VALUE" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:complexType>
<xsd:complexType name="MXDomainQueryType">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="maxvalue" type="xsd:string" use="optional"/>
<xsd:attribute name="operator" type="QueryOperatorType" use="optional"/>
<xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
 <!--
=================Attribute Groups =================
-->
<xsd:attributeGroup name="ObjectStructurePropertyGroup">
<xsd:attribute name="action" type="ProcessingActionType" use="optional"/>
<xsd:attribute name="relationship" type="xsd:string" use="optional"/>
<xsd:attribute name="deleteForInsert" type="xsd:string" use="optional"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="CommonContentGroup">
<xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional"/>
<xsd:attribute name="baseLanguage" type="xsd:string" use="optional"/>
<xsd:attribute name="transLanguage" type="xsd:string" use="optional"/>
<xsd:attribute name="messageID" type="xsd:string" use="optional"/>
<xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="PublishingContentGroup">
<xsd:attribute name="event" type="EventType" use="optional" default="0"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="QueryContentGroup">
<xsd:attribute name="uniqueResult" type="BooleanType" use="optional" default="0"/>
<xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional"/>
<xsd:attribute name="rsStart" type="xsd:integer" use="optional" default="0"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="QueryClausePropertyGroup">
<xsd:attribute name="orderby" type="xsd:string" use="optional"/>
<xsd:attribute name="operandMode" type="OperandModeType" use="optional" default="AND"/>
</xsd:attributeGroup>
<xsd:attributeGroup name="ResponseContentGroup">
<xsd:attribute name="rsStart" type="xsd:integer" use="optional"/>
<xsd:attribute name="rsCount" type="xsd:integer" use="optional"/>
<xsd:attribute name="rsTotal" type="xsd:integer" use="optional"/>
</xsd:attributeGroup>
<xsd:complexType name="UCSDIINVENTORY_INVENTORYType">
<xsd:sequence>
<xsd:element name="MAXINTERRORMSG" type="xsd:string" minOccurs="0"/>
<xsd:element name="ITEMNUM" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ITEMSETID" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LOCATION" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MAXLEVEL" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="MINLEVEL" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ORDERQTY" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ORDERUNIT" type="MXStringType" minOccurs="0"/>
<xsd:element name="SITEID" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="INVCOST" type="UCSDIINVENTORY_INVCOSTType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attributeGroup ref="ObjectStructurePropertyGroup"/>
<xsd:attribute name="transLanguage" type="xsd:string" use="optional"/>
</xsd:complexType>
<xsd:complexType name="UCSDIINVENTORY_INVCOSTType">
<xsd:sequence>
<xsd:element name="AVGCOST" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="CONDITIONCODE" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="NEWAVGCOST" type="MXDoubleType" nillable="true" minOccurs="0"/>
</xsd:sequence>
<xsd:attributeGroup ref="ObjectStructurePropertyGroup"/>
</xsd:complexType>
<xsd:complexType name="UCSDIINVENTORYType">
<xsd:sequence>
<xsd:element name="INVENTORY" type="UCSDIINVENTORY_INVENTORYType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UCSDIINVENTORYSetType">
<xsd:sequence>
<xsd:element name="INVENTORY" type="UCSDIINVENTORY_INVENTORYType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="UCSDIINVENTORYQueryType">
<xsd:sequence>
<xsd:element name="WHERE" type="xsd:string" minOccurs="0"/>
<xsd:element name="INVENTORY" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ITEMNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ITEMSETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MAXLEVEL" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="MINLEVEL" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORDERQTY" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORDERUNIT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="INVCOST" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AVGCOST" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONDITIONCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="filter" type="xsd:boolean" use="optional"/>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attributeGroup ref="QueryClausePropertyGroup"/>
</xsd:complexType>
<xsd:complexType name="UCSDIINVENTORYCombinedKeySetType">
<xsd:sequence>
<xsd:element name="INVENTORY" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ITEMNUM" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LOCATION" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SITEID" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ITEMSETID" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="INVENTORYID" type="MXLongType" nillable="true"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="UCSDIINVENTORY" type="UCSDIINVENTORYType"/>
<xsd:element name="UCSDIINVENTORYSet" type="UCSDIINVENTORYSetType"/>
<xsd:element name="UCSDIINVENTORYQuery" type="UCSDIINVENTORYQueryType"/>
<xsd:complexType name="INVENTORYKeyType">
<xsd:sequence>
<xsd:element name="ITEMNUM" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LOCATION" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SITEID" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ITEMSETID" type="MXStringType">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="INVENTORYObjectType">
<xsd:sequence>
<xsd:element name="ITEMSETID" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MANUFACTURER" type="MXStringType" minOccurs="0"/>
<xsd:element name="MODELNUM" type="MXStringType" minOccurs="0"/>
<xsd:element name="ORDERUNIT" type="MXStringType" minOccurs="0"/>
<xsd:element name="SHRINKAGEACC" type="MXGLAccountType" minOccurs="0"/>
<xsd:element name="SSTOCK" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="VENDOR" type="MXStringType" minOccurs="0"/>
<xsd:element name="ABCTYPE" type="MXStringType" minOccurs="0"/>
<xsd:element name="BINNUM" type="MXStringType" minOccurs="0"/>
<xsd:element name="CATALOGCODE" type="MXStringType" minOccurs="0"/>
<xsd:element name="CONTROLACC" type="MXGLAccountType" minOccurs="0"/>
<xsd:element name="GLACCOUNT" type="MXGLAccountType" minOccurs="0"/>
<xsd:element name="INVCOSTADJACC" type="MXGLAccountType" minOccurs="0"/>
<xsd:element name="ISSUEUNIT" type="MXStringType" minOccurs="0"/>
<xsd:element name="LASTISSUEDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="ORGID" type="MXStringType" minOccurs="0"/>
<xsd:element name="SITEID" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOURCESYSID" type="MXStringType" minOccurs="0"/>
<xsd:element name="OWNERSYSID" type="MXStringType" minOccurs="0"/>
<xsd:element name="EXTERNALREFID" type="MXStringType" minOccurs="0"/>
<xsd:element name="CATEGORY" type="MXDomainType" minOccurs="0"/>
<xsd:element name="CCF" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="DELIVERYTIME" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="ISSUE1YRAGO" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ISSUE2YRAGO" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ISSUE3YRAGO" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ISSUEYTD" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ITEMNUM" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LOCATION" type="MXStringType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MAXLEVEL" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="MINLEVEL" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="ORDERQTY" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="SENDERSYSID" type="MXStringType" minOccurs="0"/>
<xsd:element name="INVENTORYID" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="STORELOC" type="MXStringType" minOccurs="0"/>
<xsd:element name="STORELOCSITEID" type="MXStringType" minOccurs="0"/>
<xsd:element name="INTERNAL" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="STATUS" type="MXStringType" minOccurs="0"/>
<xsd:element name="STATUSDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="UC_MFRPN" type="MXStringType" minOccurs="0"/>
<xsd:element name="DFLTSTAGEBIN" type="MXStringType" minOccurs="0"/>
<xsd:element name="RECEIPTTOLERANCE" type="MXDoubleType" nillable="true" minOccurs="0"/>
<xsd:element name="REORDER" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="COSTTYPE" type="MXStringType" minOccurs="0"/>
<xsd:element name="HARDRESISSUE" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="CONSIGNMENT" type="MXBooleanType" minOccurs="0"/>
<xsd:element name="INVGENTYPE" type="MXDomainType" minOccurs="0"/>
<xsd:element name="FREQUENCY" type="MXLongType" nillable="true" minOccurs="0"/>
<xsd:element name="FREQUNIT" type="MXDomainType" minOccurs="0"/>
<xsd:element name="NEXTINVOICEDATE" type="MXDateTimeType" nillable="true" minOccurs="0"/>
<xsd:element name="CONSVENDOR" type="MXStringType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="action" type="ProcessingActionType" use="optional"/>
</xsd:complexType>
<xsd:complexType name="INVENTORYMboKeyType">
<xsd:sequence>
<xsd:element name="INVENTORY" type="INVENTORYKeyType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="INVENTORYMboKeySetType">
<xsd:sequence>
<xsd:element name="INVENTORY" type="INVENTORYKeyType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="INVENTORYMboSetType">
<xsd:sequence>
<xsd:element name="INVENTORY" type="INVENTORYObjectType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="INVENTORYMboType">
<xsd:sequence>
<xsd:element name="INVENTORY" type="INVENTORYObjectType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="INVENTORYMboQueryType">
<xsd:sequence>
<xsd:element name="WHERE" type="xsd:string" minOccurs="0"/>
<xsd:element name="INVENTORY" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ITEMSETID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MANUFACTURER" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="MODELNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORDERUNIT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SHRINKAGEACC" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SSTOCK" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="VENDOR" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ABCTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="BINNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CATALOGCODE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONTROLACC" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="GLACCOUNT" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INVCOSTADJACC" type="MXGLAccountQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ISSUEUNIT" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="LASTISSUEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORGID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SOURCESYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="OWNERSYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="EXTERNALREFID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CATEGORY" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CCF" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="DELIVERYTIME" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ISSUE1YRAGO" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ISSUE2YRAGO" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ISSUE3YRAGO" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ISSUEYTD" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ITEMNUM" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LOCATION" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Unique Key Component</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MAXLEVEL" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="MINLEVEL" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="ORDERQTY" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="SENDERSYSID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INVENTORYID" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STORELOC" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STORELOCSITEID" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INTERNAL" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STATUS" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="STATUSDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="UC_MFRPN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="DFLTSTAGEBIN" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="RECEIPTTOLERANCE" type="MXDoubleQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="REORDER" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="COSTTYPE" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="HARDRESISSUE" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONSIGNMENT" type="MXBooleanQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="INVGENTYPE" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FREQUENCY" type="MXLongQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="FREQUNIT" type="MXDomainQueryType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="NEXTINVOICEDATE" type="MXDateTimeQueryType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="CONSVENDOR" type="MXStringQueryType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
<xsd:attributeGroup ref="QueryClausePropertyGroup"/>
</xsd:complexType>
<xsd:element name="INVENTORYMbo" type="INVENTORYMboType"/>
<xsd:element name="INVENTORYMboSet" type="INVENTORYMboSetType"/>
<xsd:element name="INVENTORYMboKey" type="INVENTORYMboKeyType"/>
<xsd:element name="INVENTORYMboKeySet" type="INVENTORYMboKeySetType"/>
<xsd:element name="INVENTORYMboQuery" type="INVENTORYMboQueryType"/>
<xsd:complexType name="CreateUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="InvokeUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="QueryUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYQuery"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
<xsd:attributeGroup ref="QueryContentGroup"/>
</xsd:complexType>
<xsd:complexType name="SyncUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="PublishUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
<xsd:attributeGroup ref="PublishingContentGroup"/>
</xsd:complexType>
<xsd:complexType name="UpdateUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="DeleteUCSDIINVENTORYType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="InvokeUCSDIINVENTORYResponseType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="CreateUCSDIINVENTORYResponseType">
<xsd:sequence>
<xsd:element ref="INVENTORYMboKeySet" minOccurs="0"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="QueryUCSDIINVENTORYResponseType">
<xsd:sequence>
<xsd:element ref="UCSDIINVENTORYSet"/>
</xsd:sequence>
<xsd:attributeGroup ref="CommonContentGroup"/>
<xsd:attributeGroup ref="ResponseContentGroup"/>
</xsd:complexType>
<xsd:complexType name="SyncUCSDIINVENTORYResponseType">
<xsd:sequence/>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="DeleteUCSDIINVENTORYResponseType">
<xsd:sequence/>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:complexType name="UpdateUCSDIINVENTORYResponseType">
<xsd:sequence/>
<xsd:attributeGroup ref="CommonContentGroup"/>
</xsd:complexType>
<xsd:element name="UpdateUCSDIINVENTORY" type="UpdateUCSDIINVENTORYType"/>
<xsd:element name="QueryUCSDIINVENTORY" type="QueryUCSDIINVENTORYType"/>
<xsd:element name="CreateUCSDIINVENTORY" type="CreateUCSDIINVENTORYType"/>
<xsd:element name="SyncUCSDIINVENTORY" type="SyncUCSDIINVENTORYType"/>
<xsd:element name="DeleteUCSDIINVENTORY" type="DeleteUCSDIINVENTORYType"/>
<xsd:element name="PublishUCSDIINVENTORY" type="PublishUCSDIINVENTORYType"/>
<xsd:element name="InvokeUCSDIINVENTORY" type="InvokeUCSDIINVENTORYType"/>
<xsd:element name="InvokeUCSDIINVENTORYResponse" type="InvokeUCSDIINVENTORYResponseType"/>
<xsd:element name="QueryUCSDIINVENTORYResponse" type="QueryUCSDIINVENTORYResponseType"/>
<xsd:element name="CreateUCSDIINVENTORYResponse" type="CreateUCSDIINVENTORYResponseType"/>
<xsd:element name="SyncUCSDIINVENTORYResponse" type="SyncUCSDIINVENTORYResponseType"/>
<xsd:element name="UpdateUCSDIINVENTORYResponse" type="UpdateUCSDIINVENTORYResponseType"/>
<xsd:element name="DeleteUCSDIINVENTORYResponse" type="DeleteUCSDIINVENTORYResponseType"/>
</xsd:schema>