UoCPOChgMapping/UoCPOChgMapping/Web References/UCSDIPO/UCSDIPOService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ibm.com/maximo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/maximo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="ProcessingActionType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Add" />
      <xsd:enumeration value="Change" />
      <xsd:enumeration value="Replace" />
      <xsd:enumeration value="Delete" />
      <xsd:enumeration value="AddChange" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OperandModeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="OR" />
      <xsd:enumeration value="AND" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MboRelationshipType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChangeIndicatorType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueryOperatorType">
    <xsd:annotation>
      <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="=" />
      <xsd:enumeration value="!=" />
      <xsd:enumeration value="&lt;" />
      <xsd:enumeration value="&lt;=" />
      <xsd:enumeration value="&gt;" />
      <xsd:enumeration value="&gt;=" />
      <xsd:enumeration value="EW" />
      <xsd:enumeration value="SW" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BooleanType">
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaximoVersionType">
    <xsd:annotation>
      <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="MXStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLangStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute fixed="1" name="languageEnabled" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBinaryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXCryptoType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute default="1" name="mxencrypted" type="BooleanType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="20" name="GLCOMP" type="MXGLComponentType" />
    </xsd:sequence>
    <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXStringQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanQueryType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountQueryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
    <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:attributeGroup name="ObjectStructurePropertyGroup">
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
    <xsd:attribute name="relationship" type="xsd:string" use="optional" />
    <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="CommonContentGroup">
    <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="messageID" type="xsd:string" use="optional" />
    <xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="PublishingContentGroup">
    <xsd:attribute default="0" name="event" type="EventType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryContentGroup">
    <xsd:attribute default="0" name="uniqueResult" type="BooleanType" use="optional" />
    <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
    <xsd:attribute default="0" name="rsStart" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryClausePropertyGroup">
    <xsd:attribute name="orderby" type="xsd:string" use="optional" />
    <xsd:attribute default="AND" name="operandMode" type="OperandModeType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="ResponseContentGroup">
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:complexType name="UCSDIPO_POType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MAXINTERRORMSG" type="xsd:string" />
      <xsd:element minOccurs="0" name="PONUM" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="REVISIONNUM" nillable="true" type="MXLongType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SITEID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="UC_NOPACKSLIP" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="VENDELIVERYDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="POLINE" type="UCSDIPO_POLINEType" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="UCSDIPO_POLINEType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="POLINENUM" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="VENDELIVERYDATE" nillable="true" type="MXDateTimeType" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="UCSDIPOType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PO" type="UCSDIPO_POType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UCSDIPOSetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO" type="UCSDIPO_POType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UCSDIPOQueryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
      <xsd:element minOccurs="0" name="PO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PONUM" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="REVISIONNUM" nillable="true" type="MXLongQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="UC_NOPACKSLIP" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDELIVERYDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" name="POLINE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="POLINENUM" nillable="true" type="MXLongQueryType" />
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDELIVERYDATE" nillable="true" type="MXDateTimeQueryType" />
                </xsd:sequence>
                <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="UCSDIPOCombinedKeySetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SITEID" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="PONUM" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="REVISIONNUM" nillable="true" type="MXLongType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="POID" nillable="true" type="MXLongType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UCSDIPO" type="UCSDIPOType" />
  <xsd:element name="UCSDIPOSet" type="UCSDIPOSetType" />
  <xsd:element name="UCSDIPOQuery" type="UCSDIPOQueryType" />
  <xsd:complexType name="POKeyType">
    <xsd:sequence>
      <xsd:element name="SITEID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PONUM" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="REVISIONNUM" nillable="true" type="MXLongType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="POObjectType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PONUM" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="DESCRIPTION" type="MXStringType" />
      <xsd:element minOccurs="0" name="PURCHASEAGENT" type="MXStringType" />
      <xsd:element minOccurs="0" name="ORDERDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="REQUIREDDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="FOLLOWUPDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="POTYPE" type="MXStringType" />
      <xsd:element minOccurs="0" name="ORIGINALPONUM" type="MXStringType" />
      <xsd:element minOccurs="0" name="STATUS" type="MXDomainType" />
      <xsd:element minOccurs="0" name="STATUSDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="VENDOR" type="MXStringType" />
      <xsd:element minOccurs="0" name="CONTACT" type="MXStringType" />
      <xsd:element minOccurs="0" name="FREIGHTTERMS" type="MXStringType" />
      <xsd:element minOccurs="0" name="PAYMENTTERMS" type="MXStringType" />
      <xsd:element minOccurs="0" name="SHIPVIA" type="MXStringType" />
      <xsd:element minOccurs="0" name="CUSTOMERNUM" type="MXStringType" />
      <xsd:element minOccurs="0" name="FOB" type="MXStringType" />
      <xsd:element minOccurs="0" name="SHIPTO" type="MXStringType" />
      <xsd:element minOccurs="0" name="SHIPTOATTN" type="MXStringType" />
      <xsd:element minOccurs="0" name="BILLTO" type="MXStringType" />
      <xsd:element minOccurs="0" name="BILLTOATTN" type="MXStringType" />
      <xsd:element minOccurs="0" name="TOTALCOST" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="CHANGEBY" type="MXStringType" />
      <xsd:element minOccurs="0" name="CHANGEDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="PRIORITY" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="HISTORYFLAG" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="PO1" type="MXStringType" />
      <xsd:element minOccurs="0" name="PO2" type="MXStringType" />
      <xsd:element minOccurs="0" name="PO3" type="MXStringType" />
      <xsd:element minOccurs="0" name="PO4" type="MXStringType" />
      <xsd:element minOccurs="0" name="PO5" type="MXStringType" />
      <xsd:element minOccurs="0" name="PO6" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="PO7" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="PO8" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="PO9" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="PO10" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="VENDELIVERYDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="RECEIPTS" type="MXDomainType" />
      <xsd:element minOccurs="0" name="CURRENCYCODE" type="MXStringType" />
      <xsd:element minOccurs="0" name="EXCHANGERATE" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="EXCHANGEDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="BUYAHEAD" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="TOTALTAX1" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="TOTALTAX2" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="TOTALTAX3" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="INCLUSIVE1" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="INCLUSIVE2" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="INCLUSIVE3" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="INTERNAL" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="TOTALTAX4" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="TOTALTAX5" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="INCLUSIVE4" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="INCLUSIVE5" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="STARTDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="ENDDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="PAYONRECEIPT" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="BUYERCOMPANY" type="MXStringType" />
      <xsd:element minOccurs="0" name="EXCHANGERATE2" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="MNETSENT" type="MXDomainType" />
      <xsd:element minOccurs="0" name="ECOMSTATUSDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="SOURCESYSID" type="MXStringType" />
      <xsd:element minOccurs="0" name="OWNERSYSID" type="MXStringType" />
      <xsd:element minOccurs="0" name="EXTERNALREFID" type="MXStringType" />
      <xsd:element minOccurs="0" name="SENDERSYSID" type="MXStringType" />
      <xsd:element minOccurs="0" name="SITEID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ORGID" type="MXStringType" />
      <xsd:element minOccurs="0" name="CONTRACTREFNUM" type="MXStringType" />
      <xsd:element minOccurs="0" name="POID" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="CONTRACTREFID" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="CONTRACTREFREV" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="CONTRELEASESEQ" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="STORELOC" type="MXStringType" />
      <xsd:element minOccurs="0" name="STORELOCSITEID" type="MXStringType" />
      <xsd:element minOccurs="0" name="INSPECTIONREQUIRED" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="LANGCODE" type="MXStringType" />
      <xsd:element minOccurs="0" name="HASLD" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="UC_NOPACKSLIP" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="REVISIONNUM" nillable="true" type="MXLongType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="REVCOMMENTS" type="MXStringType" />
      <xsd:element minOccurs="0" name="INTERNALCHANGE" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="IGNORECNTREV" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="PERSONGROUP" type="MXStringType" />
    </xsd:sequence>
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="POMboKeyType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PO" type="POKeyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="POMboKeySetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO" type="POKeyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="POMboSetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO" type="POObjectType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="POMboType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PO" type="POObjectType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="POMboQueryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
      <xsd:element minOccurs="0" name="PO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PONUM" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="DESCRIPTION" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PURCHASEAGENT" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="REQUIREDDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FOLLOWUPDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="POTYPE" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORIGINALPONUM" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUS" type="MXDomainQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUSDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDOR" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTACT" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FREIGHTTERMS" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYMENTTERMS" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPVIA" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CUSTOMERNUM" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FOB" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPTO" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHIPTOATTN" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="BILLTO" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="BILLTOATTN" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALCOST" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEBY" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CHANGEDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PRIORITY" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="HISTORYFLAG" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO1" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO2" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO3" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO4" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO5" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO6" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO7" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO8" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO9" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PO10" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDELIVERYDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="RECEIPTS" type="MXDomainQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CURRENCYCODE" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGERATE" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGEDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="BUYAHEAD" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX1" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX2" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX3" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE1" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE2" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE3" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTERNAL" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX4" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="TOTALTAX5" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE4" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INCLUSIVE5" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STARTDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ENDDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PAYONRECEIPT" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="BUYERCOMPANY" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXCHANGERATE2" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MNETSENT" type="MXDomainQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ECOMSTATUSDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SOURCESYSID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="OWNERSYSID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTERNALREFID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SENDERSYSID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRACTREFNUM" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="POID" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRACTREFID" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRACTREFREV" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTRELEASESEQ" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STORELOC" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STORELOCSITEID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INSPECTIONREQUIRED" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="LANGCODE" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="HASLD" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="UC_NOPACKSLIP" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="REVISIONNUM" nillable="true" type="MXLongQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="REVCOMMENTS" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTERNALCHANGE" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="IGNORECNTREV" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="PERSONGROUP" type="MXStringQueryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:element name="POMbo" type="POMboType" />
  <xsd:element name="POMboSet" type="POMboSetType" />
  <xsd:element name="POMboKey" type="POMboKeyType" />
  <xsd:element name="POMboKeySet" type="POMboKeySetType" />
  <xsd:element name="POMboQuery" type="POMboQueryType" />
  <xsd:complexType name="CreateUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOQuery" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="QueryContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="PublishUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="PublishingContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteUCSDIPOType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeUCSDIPOResponseType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="CreateUCSDIPOResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="POMboKeySet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryUCSDIPOResponseType">
    <xsd:sequence>
      <xsd:element ref="UCSDIPOSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="ResponseContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncUCSDIPOResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteUCSDIPOResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateUCSDIPOResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:element name="UpdateUCSDIPO" type="UpdateUCSDIPOType" />
  <xsd:element name="QueryUCSDIPO" type="QueryUCSDIPOType" />
  <xsd:element name="CreateUCSDIPO" type="CreateUCSDIPOType" />
  <xsd:element name="SyncUCSDIPO" type="SyncUCSDIPOType" />
  <xsd:element name="DeleteUCSDIPO" type="DeleteUCSDIPOType" />
  <xsd:element name="PublishUCSDIPO" type="PublishUCSDIPOType" />
  <xsd:element name="InvokeUCSDIPO" type="InvokeUCSDIPOType" />
  <xsd:element name="InvokeUCSDIPOResponse" type="InvokeUCSDIPOResponseType" />
  <xsd:element name="QueryUCSDIPOResponse" type="QueryUCSDIPOResponseType" />
  <xsd:element name="CreateUCSDIPOResponse" type="CreateUCSDIPOResponseType" />
  <xsd:element name="SyncUCSDIPOResponse" type="SyncUCSDIPOResponseType" />
  <xsd:element name="UpdateUCSDIPOResponse" type="UpdateUCSDIPOResponseType" />
  <xsd:element name="DeleteUCSDIPOResponse" type="DeleteUCSDIPOResponseType" />
</xsd:schema>