UoCMinMaxMapping/Web References/UCSDIINVENTORY/UCSDIINVENTORYService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.ibm.com/maximo" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ibm.com/maximo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="ProcessingActionType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of Processing Actions supported by Maximo Services</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Add" />
      <xsd:enumeration value="Change" />
      <xsd:enumeration value="Replace" />
      <xsd:enumeration value="Delete" />
      <xsd:enumeration value="AddChange" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OperandModeType">
    <xsd:annotation>
      <xsd:documentation>Enumerated List of operand modes supported by Maximo Query</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="OR" />
      <xsd:enumeration value="AND" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MboRelationshipType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EventType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a published MOS was the result of an event. 1 implies event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChangeIndicatorType">
    <xsd:annotation>
      <xsd:documentation>Boolean flag identifying if a field has a new value. Applicable only for a MOS generated by an event</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QueryOperatorType">
    <xsd:annotation>
      <xsd:documentation>Operator identifying the QBE action to be performed on the field it is associated with</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="=" />
      <xsd:enumeration value="!=" />
      <xsd:enumeration value="&lt;" />
      <xsd:enumeration value="&lt;=" />
      <xsd:enumeration value="&gt;" />
      <xsd:enumeration value="&gt;=" />
      <xsd:enumeration value="EW" />
      <xsd:enumeration value="SW" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BooleanType">
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="0|1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaximoVersionType">
    <xsd:annotation>
      <xsd:documentation>This is a concatenated string that identifies the major version, minor version, build and dbbuild</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="MXStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLangStringType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute fixed="1" name="languageEnabled" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:long">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBinaryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXCryptoType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
        <xsd:attribute default="1" name="mxencrypted" type="BooleanType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="20" name="GLCOMP" type="MXGLComponentType" />
    </xsd:sequence>
    <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="changed" type="ChangeIndicatorType" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXStringQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDoubleQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXFloatQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:float">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXLongQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXIntQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:int">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXBooleanQueryType">
    <xsd:simpleContent>
      <xsd:extension base="BooleanType">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXDateTimeQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:dateTime">
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLComponentQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="glorder" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxExclusive value="20" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MXGLAccountQueryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="VALUE" type="xsd:string" />
    </xsd:sequence>
    <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
    <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="MXDomainQueryType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="maxvalue" type="xsd:string" use="optional" />
        <xsd:attribute name="operator" type="QueryOperatorType" use="optional" />
        <xsd:attribute name="operandModeOR" type="xsd:boolean" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:attributeGroup name="ObjectStructurePropertyGroup">
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
    <xsd:attribute name="relationship" type="xsd:string" use="optional" />
    <xsd:attribute name="deleteForInsert" type="xsd:string" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="CommonContentGroup">
    <xsd:attribute name="creationDateTime" type="xsd:dateTime" use="optional" />
    <xsd:attribute name="baseLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
    <xsd:attribute name="messageID" type="xsd:string" use="optional" />
    <xsd:attribute name="maximoVersion" type="MaximoVersionType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="PublishingContentGroup">
    <xsd:attribute default="0" name="event" type="EventType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryContentGroup">
    <xsd:attribute default="0" name="uniqueResult" type="BooleanType" use="optional" />
    <xsd:attribute name="maxItems" type="xsd:positiveInteger" use="optional" />
    <xsd:attribute default="0" name="rsStart" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="QueryClausePropertyGroup">
    <xsd:attribute name="orderby" type="xsd:string" use="optional" />
    <xsd:attribute default="AND" name="operandMode" type="OperandModeType" use="optional" />
  </xsd:attributeGroup>
  <xsd:attributeGroup name="ResponseContentGroup">
    <xsd:attribute name="rsStart" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsCount" type="xsd:integer" use="optional" />
    <xsd:attribute name="rsTotal" type="xsd:integer" use="optional" />
  </xsd:attributeGroup>
  <xsd:complexType name="UCSDIINVENTORY_INVENTORYType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="MAXINTERRORMSG" type="xsd:string" />
      <xsd:element minOccurs="0" name="ITEMNUM" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="ITEMSETID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LOCATION" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAXLEVEL" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="MINLEVEL" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ORDERQTY" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ORDERUNIT" type="MXStringType" />
      <xsd:element minOccurs="0" name="SITEID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVCOST" type="UCSDIINVENTORY_INVCOSTType" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
    <xsd:attribute name="transLanguage" type="xsd:string" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="UCSDIINVENTORY_INVCOSTType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AVGCOST" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="CONDITIONCODE" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NEWAVGCOST" nillable="true" type="MXDoubleType" />
    </xsd:sequence>
    <xsd:attributeGroup ref="ObjectStructurePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="UCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="INVENTORY" type="UCSDIINVENTORY_INVENTORYType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UCSDIINVENTORYSetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVENTORY" type="UCSDIINVENTORY_INVENTORYType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UCSDIINVENTORYQueryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
      <xsd:element minOccurs="0" name="INVENTORY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMNUM" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMSETID" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="LOCATION" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MAXLEVEL" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MINLEVEL" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERQTY" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERUNIT" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="INVCOST">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="AVGCOST" nillable="true" type="MXDoubleQueryType" />
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONDITIONCODE" type="MXStringQueryType">
                    <xsd:annotation>
                      <xsd:documentation>Unique Key Component</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="filter" type="xsd:boolean" use="optional" />
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:complexType name="UCSDIINVENTORYCombinedKeySetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVENTORY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ITEMNUM" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="LOCATION" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="SITEID" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="ITEMSETID" type="MXStringType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="INVENTORYID" nillable="true" type="MXLongType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UCSDIINVENTORY" type="UCSDIINVENTORYType" />
  <xsd:element name="UCSDIINVENTORYSet" type="UCSDIINVENTORYSetType" />
  <xsd:element name="UCSDIINVENTORYQuery" type="UCSDIINVENTORYQueryType" />
  <xsd:complexType name="INVENTORYKeyType">
    <xsd:sequence>
      <xsd:element name="ITEMNUM" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LOCATION" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SITEID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ITEMSETID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INVENTORYObjectType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ITEMSETID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MANUFACTURER" type="MXStringType" />
      <xsd:element minOccurs="0" name="MODELNUM" type="MXStringType" />
      <xsd:element minOccurs="0" name="ORDERUNIT" type="MXStringType" />
      <xsd:element minOccurs="0" name="SHRINKAGEACC" type="MXGLAccountType" />
      <xsd:element minOccurs="0" name="SSTOCK" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="VENDOR" type="MXStringType" />
      <xsd:element minOccurs="0" name="ABCTYPE" type="MXStringType" />
      <xsd:element minOccurs="0" name="BINNUM" type="MXStringType" />
      <xsd:element minOccurs="0" name="CATALOGCODE" type="MXStringType" />
      <xsd:element minOccurs="0" name="CONTROLACC" type="MXGLAccountType" />
      <xsd:element minOccurs="0" name="GLACCOUNT" type="MXGLAccountType" />
      <xsd:element minOccurs="0" name="INVCOSTADJACC" type="MXGLAccountType" />
      <xsd:element minOccurs="0" name="ISSUEUNIT" type="MXStringType" />
      <xsd:element minOccurs="0" name="LASTISSUEDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="ORGID" type="MXStringType" />
      <xsd:element minOccurs="0" name="SITEID" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="SOURCESYSID" type="MXStringType" />
      <xsd:element minOccurs="0" name="OWNERSYSID" type="MXStringType" />
      <xsd:element minOccurs="0" name="EXTERNALREFID" type="MXStringType" />
      <xsd:element minOccurs="0" name="CATEGORY" type="MXDomainType" />
      <xsd:element minOccurs="0" name="CCF" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="DELIVERYTIME" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="ISSUE1YRAGO" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ISSUE2YRAGO" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ISSUE3YRAGO" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ISSUEYTD" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ITEMNUM" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="LOCATION" type="MXStringType">
        <xsd:annotation>
          <xsd:documentation>Unique Key Component</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="MAXLEVEL" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="MINLEVEL" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="ORDERQTY" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="SENDERSYSID" type="MXStringType" />
      <xsd:element minOccurs="0" name="INVENTORYID" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="STORELOC" type="MXStringType" />
      <xsd:element minOccurs="0" name="STORELOCSITEID" type="MXStringType" />
      <xsd:element minOccurs="0" name="INTERNAL" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="STATUS" type="MXStringType" />
      <xsd:element minOccurs="0" name="STATUSDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="UC_MFRPN" type="MXStringType" />
      <xsd:element minOccurs="0" name="DFLTSTAGEBIN" type="MXStringType" />
      <xsd:element minOccurs="0" name="RECEIPTTOLERANCE" nillable="true" type="MXDoubleType" />
      <xsd:element minOccurs="0" name="REORDER" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="COSTTYPE" type="MXStringType" />
      <xsd:element minOccurs="0" name="HARDRESISSUE" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="CONSIGNMENT" type="MXBooleanType" />
      <xsd:element minOccurs="0" name="INVGENTYPE" type="MXDomainType" />
      <xsd:element minOccurs="0" name="FREQUENCY" nillable="true" type="MXLongType" />
      <xsd:element minOccurs="0" name="FREQUNIT" type="MXDomainType" />
      <xsd:element minOccurs="0" name="NEXTINVOICEDATE" nillable="true" type="MXDateTimeType" />
      <xsd:element minOccurs="0" name="CONSVENDOR" type="MXStringType" />
    </xsd:sequence>
    <xsd:attribute name="action" type="ProcessingActionType" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="INVENTORYMboKeyType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="INVENTORY" type="INVENTORYKeyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INVENTORYMboKeySetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVENTORY" type="INVENTORYKeyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INVENTORYMboSetType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVENTORY" type="INVENTORYObjectType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INVENTORYMboType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="INVENTORY" type="INVENTORYObjectType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INVENTORYMboQueryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="WHERE" type="xsd:string" />
      <xsd:element minOccurs="0" name="INVENTORY">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMSETID" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MANUFACTURER" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MODELNUM" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERUNIT" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SHRINKAGEACC" type="MXGLAccountQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SSTOCK" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="VENDOR" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ABCTYPE" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="BINNUM" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CATALOGCODE" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONTROLACC" type="MXGLAccountQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="GLACCOUNT" type="MXGLAccountQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVCOSTADJACC" type="MXGLAccountQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISSUEUNIT" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="LASTISSUEDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORGID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SITEID" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SOURCESYSID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="OWNERSYSID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="EXTERNALREFID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CATEGORY" type="MXDomainQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CCF" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="DELIVERYTIME" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISSUE1YRAGO" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISSUE2YRAGO" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISSUE3YRAGO" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ISSUEYTD" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEMNUM" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="LOCATION" type="MXStringQueryType">
              <xsd:annotation>
                <xsd:documentation>Unique Key Component</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MAXLEVEL" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="MINLEVEL" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ORDERQTY" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="SENDERSYSID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVENTORYID" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STORELOC" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STORELOCSITEID" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INTERNAL" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUS" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="STATUSDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="UC_MFRPN" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="DFLTSTAGEBIN" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="RECEIPTTOLERANCE" nillable="true" type="MXDoubleQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="REORDER" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="COSTTYPE" type="MXStringQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="HARDRESISSUE" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONSIGNMENT" type="MXBooleanQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="INVGENTYPE" type="MXDomainQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FREQUENCY" nillable="true" type="MXLongQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="FREQUNIT" type="MXDomainQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="NEXTINVOICEDATE" nillable="true" type="MXDateTimeQueryType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="CONSVENDOR" type="MXStringQueryType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="QueryClausePropertyGroup" />
  </xsd:complexType>
  <xsd:element name="INVENTORYMbo" type="INVENTORYMboType" />
  <xsd:element name="INVENTORYMboSet" type="INVENTORYMboSetType" />
  <xsd:element name="INVENTORYMboKey" type="INVENTORYMboKeyType" />
  <xsd:element name="INVENTORYMboKeySet" type="INVENTORYMboKeySetType" />
  <xsd:element name="INVENTORYMboQuery" type="INVENTORYMboQueryType" />
  <xsd:complexType name="CreateUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYQuery" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="QueryContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="PublishUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="PublishingContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteUCSDIINVENTORYType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="InvokeUCSDIINVENTORYResponseType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="CreateUCSDIINVENTORYResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="INVENTORYMboKeySet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="QueryUCSDIINVENTORYResponseType">
    <xsd:sequence>
      <xsd:element ref="UCSDIINVENTORYSet" />
    </xsd:sequence>
    <xsd:attributeGroup ref="CommonContentGroup" />
    <xsd:attributeGroup ref="ResponseContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="SyncUCSDIINVENTORYResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="DeleteUCSDIINVENTORYResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:complexType name="UpdateUCSDIINVENTORYResponseType">
    <xsd:sequence />
    <xsd:attributeGroup ref="CommonContentGroup" />
  </xsd:complexType>
  <xsd:element name="UpdateUCSDIINVENTORY" type="UpdateUCSDIINVENTORYType" />
  <xsd:element name="QueryUCSDIINVENTORY" type="QueryUCSDIINVENTORYType" />
  <xsd:element name="CreateUCSDIINVENTORY" type="CreateUCSDIINVENTORYType" />
  <xsd:element name="SyncUCSDIINVENTORY" type="SyncUCSDIINVENTORYType" />
  <xsd:element name="DeleteUCSDIINVENTORY" type="DeleteUCSDIINVENTORYType" />
  <xsd:element name="PublishUCSDIINVENTORY" type="PublishUCSDIINVENTORYType" />
  <xsd:element name="InvokeUCSDIINVENTORY" type="InvokeUCSDIINVENTORYType" />
  <xsd:element name="InvokeUCSDIINVENTORYResponse" type="InvokeUCSDIINVENTORYResponseType" />
  <xsd:element name="QueryUCSDIINVENTORYResponse" type="QueryUCSDIINVENTORYResponseType" />
  <xsd:element name="CreateUCSDIINVENTORYResponse" type="CreateUCSDIINVENTORYResponseType" />
  <xsd:element name="SyncUCSDIINVENTORYResponse" type="SyncUCSDIINVENTORYResponseType" />
  <xsd:element name="UpdateUCSDIINVENTORYResponse" type="UpdateUCSDIINVENTORYResponseType" />
  <xsd:element name="DeleteUCSDIINVENTORYResponse" type="DeleteUCSDIINVENTORYResponseType" />
</xsd:schema>