ShipNoticeAmazon/ShipNoticeAmazon/Web References/SDI_ISA_RECEIPT/ISA_RECEIPT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/ISA_RECEIPT.ISA_PORCL_SDIEX.V1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/ISA_RECEIPT.ISA_PORCL_SDIEX.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ISA_PORCL_SDIEX" type="ISA_PORCL_SDIEX_TypeShape" />
  <xsd:complexType name="ISA_PORCL_SDIEX_TypeShape">
    <xsd:sequence>
      <xsd:element name="BUSINESS_UNIT_PO" type="BUSINESS_UNIT_PO_TypeDef" />
      <xsd:element name="PO_ID" type="PO_ID_TypeDef" />
      <xsd:element name="LINE_NBR" type="LINE_NBR_TypeDef" />
      <xsd:element minOccurs="0" name="BUSINESS_UNIT_RECV" type="BUSINESS_UNIT_RECV_TypeDef" />
      <xsd:element name="QTY_PO" type="QTY_PO_TypeDef" />
      <xsd:element minOccurs="0" name="CB_SELECT_PO" type="CB_SELECT_PO_TypeDef" />
      <xsd:element minOccurs="0" name="TRANSACTION_ID" type="TRANSACTION_ID_TypeDef" />
      <xsd:element minOccurs="0" name="RECEIVER_ID" type="RECEIVER_ID_TypeDef" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="BUSINESS_UNIT_PO_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PO_ID_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LINE_NBR_TypeDef">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="5" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BUSINESS_UNIT_RECV_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QTY_PO_TypeDef">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="4" />
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CB_SELECT_PO_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TRANSACTION_ID_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RECEIVER_ID_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>